body {
  font-size: 16px;
  nav {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.4;
  }

  h2 {
    font-size: 3rem;
    font-weight: 500;
  }
  h3 {
    font-size: 2rem;
    font-weight: 500;
  }

  p {
    font-size: 1.2rem;
  }
  footer {
    text-align: center;
    margin-top: 20px;
  }
}

.full-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 50px;
}
.content {
  max-width: 1200px;
  margin: 0 auto;
}
.scroll-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.about-section {
  background: linear-gradient(135deg, #9afcff 0%, #fad0c4 100%);
}

.timeline-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: linear-gradient(135deg, #fad0c4 0%, #a1c4fd 100%);
  overflow: hidden;

  .timeline-container {
    display: flex;
    flex-shrink: 0;
    width: 100vw;
    height: 100vh;
    transition: transform 0.5s ease-in-out;
  }

  article {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    h3 {
      font-size: 3rem;
      margin-bottom: 20vh;
    }

    .timeline-line {
      position: absolute;
      width: 100%;
      height: 2px;
      background: black;
      top: 55vh;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      width: 95%;
    }

    .course {
      position: relative;
      font-size: 1.5rem;
      padding: 10px 15px;
      background: white;
      color: black;
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

      &.top {
        top: -13vh;
      }

      &.bottom {
        top: -5vh;
      }
    }
  }

  .navigation-buttons {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 20px;

    button {
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 1.2rem;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s;

      &:hover {
        background-color: rgba(0, 0, 0, 0.9);
      }
    }
  }
}

.skills-section {
  background: linear-gradient(135deg, #67f664 0%, #fbc2eb 100%);

  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-size: 1.5rem;
  }

  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.social-section {
  background: linear-gradient(135deg, #fbc2eb 0%, #a6c1ee 100%);

  .social-profiles {
    display: flex;
    justify-content: space-around;
    gap: 20px;

    a {
      color: black;
      font-size: 3rem;
    }
  }
}

.comments-section {
  background: linear-gradient(135deg, #ffaeae 0%, #a6c1ee 100%);
  p {
    font-size: 1.5rem;
  }
  #work-comments {
    p {
      margin-top: 3rem;
      font-size: 1.5rem;
      font-weight: 500;
    }
    i {
      font-size: 1.2rem;
    }
  }
}

/* Overgangsnavn matcher `name` fra template */

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.8rem;
  }

  nav {
    gap: 0px;
    padding: 0;
    flex-direction: column;
  }

  .skills {
    font-size: 1rem;
  }

  .social-profiles a {
    font-size: 2rem;
  }

  .timeline-section {
    display: flex;

    .timeline-container {
      display: flex;
    }
    article {
      display: flex;
      flex-direction: column;
      justify-content: right;
      margin-top: 10vh;
      text-align: center;
      position: relative;

      h3 {
        font-size: 2.5rem;
        margin-bottom: 5vh;
      }

      .timeline-line {
        background: transparent;
      }

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        width: 80%;
      }

      .course {
        position: relative;
        font-size: 1.2rem;

        &.top,
        &.bottom {
          top: 0;
        }
      }
    }

    .navigation-buttons {
      bottom: 200px;
      gap: 20px;

      button {
        padding: 6px 12px;
      }
    }
  }
}
