body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 !important;
    padding: 0 !important;
}
#grid-container{
    margin-inline: 0.5rem;
}
/* ---------- NAV ---------- */
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-block: 1rem;
    gap: 2rem;
}
nav > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/*---------------*/
#nav-search{
    display: flex;
    border: 1px solid black;
    border-radius: 0.7rem;
}
#nav-search input{
    border: transparent;
    border-radius: 0.7rem 0 0 0.7rem;
    width: 100%;
    padding: 0.7rem;
}
#nav-search input:focus{
    outline: none;
}
#nav-search button{
    border: transparent;
    border-radius: 0 0.7rem 0.7rem 0;
    cursor: pointer;
    background-color: white;
    padding: 0.7rem;
}
#nav-search button:hover{
    background-color: #f1f1f1;
}
/*---------------*/
nav a {
    text-decoration: none;
    color: black;
}
#nav-elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
#logo-text {
    font-size: 2rem;
    font-weight: 700;
    margin-block: 1rem;
}
#nav-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}
#nav-icons i {
    font-size: 1.5rem;
}

/* ---------- MAIN ---------- */
#main-cover {
    background-image: url('/assets/media/main-photo.jpg');
    height: 50vh;
    width: 100%;
    background-size:cover;
    margin: 0 auto;
    border-radius: 20px;
}
#main-cover > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 0 5% 0% 40%;
    text-align: right;
}
h1{
    font-size: 3rem;
    font-weight: 700;
    margin-block: 1rem;
}
#main-cover p{
    font-size: 1rem;
    font-weight: 500;
    margin-block: 1rem;
}
#main-cover button{
    border: transparent;
    border-radius: 20px;
    cursor: pointer;
    background-color: #f1f1f1;
    padding: 1rem;
}

/* -------------- */
#main-header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
}
h2{
    font-size: 2.5rem;
    font-weight: 700;
    margin-block: 1rem;
}
#main-header-buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-block: 1rem;
}
#main-header-buttons button{
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    background-color: transparent;
    padding: 0.8rem;
}
#main-header-buttons button:first-child{
    background-color: #202020;  
    color: white;
}

/* -------------- */
#main-products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 1rem;
}
.main-product-info {
    justify-content: initial !important;
    gap: 1rem;
    font-weight: 600;
}

.main-cards {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 1 300px;
    max-width: 400px;
}

.main-cards > article {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.main-cards img {
    max-width: 100%;
    width: 100%;
    border-radius: 20px;
}
.heart {
    position: absolute;
    top: 10px; 
    right: 10px; 
    color: white; 
    font-size: 24px; 
    cursor: pointer; 
    background-color: #acacacb9;
    border-radius: 100%;
    padding: 0.5rem;
}
/* ------------- */
#main-categories {
    text-align: center;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#main-categories article{
    position: relative;
}
#main-categories img {
    border-radius: 20px;
    width: 100%;
}
#main-categories > h2, #main-categories > h3 {
    flex-basis: 100%;
}
#main-categories h4 {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
}
#main-categories-img1>img, #main-categories-img2>img, #main-categories-img4>img, #main-categories-img5>img {
    height: 30vh;
}
.blur-effect {
    position: relative;
    text-align: center;
    filter: blur(2px);
}

/* ---------- */
#main-reviews {
    margin-top: 3rem;
}
#main-reviews h2 {
    text-align: left;
    margin-block: 1rem;
}
#main-reviews-scroller {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    width: 100%;
}

#main-reviews article {
    background-color: #f0f0f0b9;
    border-radius: 20px;
    padding: 1rem;
    min-width: 300px;
    max-width: 10rem;
    flex-shrink: 0;
}
#main-reviews img {
    width: 100px;
    border-radius: 100%;
}

/* ---------- FOOTER ---------- */
footer {
    margin-bottom: 3rem;
}




#footer-socialmedia-icons{
    flex-basis: 100%;
    display: flex;
    justify-content: left;
    gap: 1.5rem;
    font-size: 1.5rem;
}
#footer-flex-between{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}




@media screen and (min-width: 1508px) {
    #grid-container {
        margin-inline: 20rem;
    }
}