body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 !important;
    padding: 0 !important;
}
#grid-container{
    margin-inline: 0.5rem;
    max-width: 1200px;
}
/* ---------- NAV ---------- */
nav:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-block: 1rem;
    gap: 2rem;
}
nav > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/*---------------*/
#nav-search{
    display: flex;
    border: 1px solid black;
    border-radius: 1rem;
}
#nav-search input{
    border: transparent;
    border-radius: 1rem 0 0 1rem;
    width: 100%;
    padding: 0.7rem;
}
#nav-search input:focus{
    outline: none;
}
#nav-search button{
    border: transparent;
    border-radius: 0 1rem 1rem 0;
    cursor: pointer;
    background-color: white;
    padding: 0.7rem;
}
#nav-search button:hover{
    background-color: #f1f1f1;
}
/*---------------*/
nav a {
    text-decoration: none;
    color: black;
}
#nav-elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
#logo-text {
    font-size: 2rem;
    font-weight: 700;
    margin-block: 1rem;
}
#nav-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}
#nav-icons i {
    font-size: 1.5rem;
}
#nav-icons li:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

#breadcrumb {
    margin-left: 1rem;
}

/* ---------- MAIN ---------- */
#main-cover {
    background-image: url('/assets/media/main-photo.jpg');
    height: calc(40rem + 1vh);
    width: 100%;
    background-size:cover;
    margin: 0 auto;
    border-radius: 20px;
}
#main-cover > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 0 5% 0% 40%;
    text-align: right;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin-block: 1rem;
}
#main-cover p{
    font-size: 1rem;
    font-weight: 500;
    margin-block: 1rem;
}
#main-cover a {
    text-decoration: none;
    color: black;
}
#main-cover button{
    border: transparent;
    border-radius: 20px;
    cursor: pointer;
    background-color: #f1f1f1;
    padding: 1rem;
}

/* -------------- */
#main-header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
}
h2{
    font-size: 2.5rem;
    font-weight: 700;
    margin-block: 1rem;
}
#main-header-buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-block: 1rem;
}
#main-header-buttons button{
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    background-color: transparent;
    padding: 0.8rem;
}
#main-header-buttons button:first-child{
    background-color: #202020;  
    color: white;
}
#main-header-buttons button:hover{
    background-color: #202020;
    color: white;
}

/* -------------- */
#main-products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    gap: 1rem;
    margin-top: 1rem;
}
.main-product-info {
    justify-content: initial !important;
    gap: 1rem;
    font-weight: 600;
}

.main-cards {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 1 300px;
    max-width: 350px;
}

.main-cards > article {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.main-cards img {
    max-width: 100%;
    width: 100%;
    border-radius: 20px;
}
.heart {
    position: absolute;
    top: 10px; 
    right: 10px; 
    color: white; 
    font-size: 24px; 
    cursor: pointer; 
    backdrop-filter: blur(15px);
    background-color: #0000002a;
    border-radius: 100%;
    padding: 0.5rem;
}
.heart:hover {
    background-color: #fa002194;
}
/* ------------- */
#main-categories {
    text-align: center;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#main-categories article{
    position: relative;
    width: 100%;
}
#main-categories img {
    border-radius: 20px;
    width: 100%;
}
#main-categories > h2, #main-categories > h3 {
    flex-basis: 100%;
}
#main-categories h4 {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
}
#main-categories-img1>img, #main-categories-img2>img, #main-categories-img4>img, #main-categories-img5>img {
    max-height: 500px;
}
.blur-effect {
    position: relative;
    filter: opacity(67%) brightness(86%) blur(1px);
}

/* ---------- */
#main-reviews {
    margin-top: 3rem;
}
#main-reviews h2 {
    text-align: left;
    margin-block: 1rem;
}
#main-reviews-scroller {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    width: 100%;
}

#main-reviews article {
    background-color: #f0f0f0b9;
    border-radius: 20px;
    padding: 1rem;
    min-width: 300px;
    max-width: 10rem;
    flex-shrink: 0;
}
#main-reviews img {
    width: 100px;
    border-radius: 100%;
}

/* ---------- FOOTER ---------- */
footer {
    margin-bottom: 3rem;
}

footer ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}




#footer-flex-between{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
#flex-footer-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: baseline;
    gap: 1rem;
}
#footer-flex-between ul {
    display: flex;
    flex-direction: column;
}
footer aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
footer aside ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
footer aside ul li a {
    text-decoration: none;
    color: black;
}
#footer-social-media{
    margin-top: 2rem;
}
#footer-social-media-icons{
    flex-basis: 100%;
    display: flex;
    justify-content: left;
    gap: 1.5rem;
    font-size: 1.5rem;
    padding: 0;
}
#footer-social-media-icons li{
    list-style-type: none;
}
#footer-social-media-icons a{
    text-decoration: none;
    color: black;
}

/* ---------- Checkout ---------- */
#main-checkout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}
#main-checkout h1 {
    text-align: center;
}
#main-checkout h2 {
    font-size: 1.5rem;
}
#main-shopping-bag {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #d3d3d38f;
    padding: 1rem;
}

#main-shopping-bag article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#main-shopping-bag ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-self: baseline;
    margin-inline: 1rem;
}
#main-shopping-bag li {
    margin-block: 0.2rem;
}
#main-shopping-bag img {
    width: 300px;
}

#main-shopping-bag select {
    padding: 0.8rem;
    background-color: #d3d3d334;
    border: transparent;
}
#main-shopping-bag input {
    padding: 0.8rem;
    border: 1px solid #d3d3d38f;
}
.main-size-quantity{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.main-heart-trash {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 1rem;
}
.main-heart-trash a {
    text-decoration: none;
    color: black;
}

#main-shopping-information {
    border: 1px solid #d3d3d38f;
    padding: 1rem;
}

#main-shopping-form article {
    display: flex;
    flex-direction: column;;
}
#main-shopping-form input {
    padding: 1rem;
    border: 1px solid #d3d3d38f;
    margin-block-end: 1rem;
}
#main-shopping-form button {
    padding: 0.8rem;
    border: transparent;
    background-color: #414141;
    color: white;
    cursor: pointer;
}
#main-shopping-form button:last-child {
    background-color: transparent;
    margin-top: 1rem;
    color: black;
}

















@media screen and (min-width: 1508px) {
    #grid-container {
        margin: 0 auto;
    }
    nav:first-child{
        flex-direction: row;
    }
    #nav-elements{
        flex-direction: row;
    }
}
